.git
**/target/
.m2/
.idea/
.vscode/
*.iml
*.log
.env
tools/
documentacion/
features/
infrastructure/k8s/
infrastructure/terraform/
infrastructure/argocd/
infrastructure/docker/compose.yml
infrastructure/docker/.env
infrastructure/docker/.env.example
infrastructure/docker/postgres/