# Persistencia
POSTGRES_PORT=15432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
MONGODB_PORT=27017

# Seguridad
KEYCLOAK_PORT=8090
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin

# course-service
COURSE_DB_USER=course
COURSE_DB_PASSWORD=course_pass

# payment-service
PAYMENT_DB_USER=payment
PAYMENT_DB_PASSWORD=payment_pass

# notification-service
NOTIFICATION_DB_USER=notification
NOTIFICATION_DB_PASSWORD=notification_pass
MAIL_USERNAME=
MAIL_PASSWORD=

# enrollment-service
ENROLLMENT_DB_USER=enrollment
ENROLLMENT_DB_PASSWORD=enrollment_pass

# user-service
USER_DB_USER=users
USER_DB_PASSWORD=users_pass